%div{class: call_comments_class(comment)}
  %article{'data-user-id' => comment.user.id, 'data-possition' => comment.position, 'data-created-at' => comment.created_at}
    %h3
      #{t('task_from')} #{comment.user.full_name}
    %p= comment.content
