%div.removebutton{class: call_comments_class(comment)}
  = link_to 'Delete task', worker_comment_url(comment.worker_id, comment), method: :delete,
    data: { confirm: t('comment.confirm') }, class: 'btn btn-danger', style: 'display: none;'
  %article{'data-user-id' => comment.user.id, 'data-possition' => comment.position, 'data-created-at' => comment.created_at}
    %h3
      #{t('task_from')} #{comment.user.full_name}
    %p= comment.content

