// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'new-task';
body {
  padding: 5px;
}
.worker {
  width: 100%;
  margin: 0 auto;
}

.comment_my {
  background-color: #B0E0E6;
}

section {
  line-height:1em;
  margin:-4px 0 20px 0px;
}

.comment_other {
  background-color: #E6E6FA
}

.delte_button{
  float: right
}

article {
  padding: 5px;
}
